.NamesAndDescription{
    display: flex;
    flex-direction: row;
    min-height: 500px;
    align-items: flex-start;
    color: white;

}

.projectsTitle{
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ProjectNames{
    display: flex;
    flex-grow: 1;
    margin-right: 20px;
    min-width: 550px;
    width: 30%; /* Adjust based on your needs */
    padding-right: 20px;
}


.ProjectDescriptions{
    /* position: absolute; */
    /* background-color: #4A4F68; */
    width: 70%;
    position: relative;
    height: 500px;
    overflow: hidden;
}

#h2{
    margin-top: 50px;
}

.title:hover{
    color: #9097E2;
    transform: translateX(5px);
}

.ProjectDesc {
    
    position: absolute;
    width: 90%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: 
    opacity 0.4s ease-out,
    transform 0.4s ease-out;
  pointer-events: none;
  }

.projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    justify-content: center;
    background-color: #4A4F68;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}
  
  .ProjectDesc.active-tab {
    display: block;
    font-size: x-large;
    margin-right: 120px;
    padding: 10px;
    background-color: #4A4F68;
    border-radius: 20px;
    height: 450px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition-delay: 0.1s;
  }
  
  .title {
    cursor: pointer;
    transition: all 0.4s ease-out;
    cursor: pointer;
  }
  
  .title.active-link {
    color: #9097E2;
    padding-left: 8px;

  }