.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 25px;
    /* border-radius: 20px; */
    background-color: rgba(56, 60, 79, 0.5);
    backdrop-filter: blur(10px);
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 5px 10px;
    transition-property: transform;
    transition-duration: 0.2s;
  }
  
  .navbar a:hover {
    color: rgb(155, 133, 255);
    transform: scale(1.1);  }
  
  .navbar .active {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
  }