.designation {
    display: flex;
    /* background-color: #4A4F68; */
    border-radius: 20px;
    margin-top: 100px;
    padding: 50px;
    margin-left: 100px;
    text-align: center;
    color: white;
  }

  #p{
    font-family: 'NType82-Headline', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.6;
    margin-left: 1000px;
  }

.designations{
  text-align: center;
  color: white;
  /* margin-left: 30px; */
}

.summ{
  color:white;
}

.faceCard{
  border-radius: 20px;
  background-image: url("FCbackground.png");
  padding: 50px;
}

.summary{
  color: white;
  font-size: 30px;
  text-align: justify;
  justify-content: center;
  margin-left: 50px;
  margin-right: 150px;
  border-radius: 20px;
  height: 350px;
  padding: 20px;
  margin-top: 25px;
  line-height: 1.6;
}

.catchline{
  color: transparent;
  font-family: 'Futura', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(to right, #FC72FF, #8F68FF, #487BFF, #8F68FF, #FC72FF);
  background-size: 200%;
  background-clip: text;
  animation: animate-gradient 2.5s linear infinite;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@keyframes animate-gradient {
  0% {
    background-position: 200%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}